page-scan-history-detail {
    ion-card{
        position: relative;
    }
    .card-seal {
        position: absolute;
        top: 1%;
        right:1%;
    
        width: 80px;
        height: 80px;
        
      }
}
