<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>溯源4.0</ion-title>
  </ion-navbar>
</ion-header>


<ion-content class="cards-bg">

  <ion-list>
    <!-- <ion-card *ngFor="let item of list" (click)="jumpPage()">
        <img src="{{item.baseImg}}" />
      <ion-card-content>
          
        <ion-card-title>
          {{item.serial}}   {{item.category}}
        </ion-card-title>
        <p> {{item.baseName}}</p>
      </ion-card-content>

      <ion-row no-padding>
        <ion-col>
          <button ion-button clear small color="danger" icon-start>
            <ion-icon name='person'></ion-icon>
            {{item.principal}}
          </button>
        </ion-col>
        <ion-col text-center>
          <button ion-button clear small color="danger" icon-start>
            <ion-icon name='apps'></ion-icon>
            {{item.area}}
          </button>
        </ion-col>
        <ion-col text-right>
          <button ion-button clear small color="danger" icon-start>
            <ion-icon name='locate'></ion-icon>
            {{item.status}}
          </button>
        </ion-col>
      </ion-row>

    </ion-card> -->

    <ion-card *ngFor="let item of list" (click)="jumpPage()">
      <ion-row>
        <ion-col>
          <ion-card-title>
            {{item.serial}} {{item.category}}
          </ion-card-title>
          <p> {{item.baseName}}</p>
        </ion-col>

        <ion-col>
          <img src="{{item.baseImg}}" />
        </ion-col>
      </ion-row>

      <ion-row no-padding>
        <ion-col>
          <button ion-button clear small color="danger" icon-start>
            <ion-icon name='person'></ion-icon>
            {{item.principal}}
          </button>
        </ion-col>
        <ion-col text-center>
          <button ion-button clear small color="danger" icon-start>
            <ion-icon name='apps'></ion-icon>
            {{item.area}}
          </button>
        </ion-col>
        <ion-col text-right>
          <button ion-button clear small color="danger" icon-start>
            <ion-icon name='locate'></ion-icon>
            {{item.status}}
          </button>
        </ion-col>
      </ion-row>
    </ion-card>
  </ion-list>

  <ion-fab right bottom>
      <button ion-fab color="translucence" ><ion-icon color="light" name="ionic"></ion-icon></button>
      <ion-fab-list side="top">
        <button ion-fab><ion-icon name="logo-facebook"></ion-icon></button>
      </ion-fab-list>
      <ion-fab-list side="left">
        <button ion-fab ><ion-icon name="logo-googleplus"></ion-icon></button>
      </ion-fab-list>
    </ion-fab>
</ion-content>
