page-add-operation {
  .card-background-page {

    ion-card {
      position: relative;
      text-align: center;
    }
  
    .card-title {
      position: absolute;
      top: 45%;
      left: 45%;
     
    }
  
  }
}


